<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--Milligram stylesheet-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script src="js/verifyDeleteAll.js"></script>
    <script type="text/javascript" src="js/verifyDeleteAll.js"></script>

    <meta charset="UTF-8">
    <title>Categories Table</title>
</head>
<body>

<!--<h1>Temporarily Sample Category Table</h1>-->

<h1 class="center">Categories Table</h1>

<div id="canter">
    <a href="/" class="button button-outline">Add New Expense</a>
    <a href="/allExpenses" class="button button-outline">Spending Events Table</a>
    <a href="/categoriesTable" class="button button-outline">Categories Table</a>
    <a th:href="'/deleteAll/'" class="button button-outline" id="delete_button">Delete All Entries</a>
</div>
<br>

<!--<button onclick="myFunction()">Try it</button>-->

<!--<span>The total for Target for the month is $<span th:text="${totalExpensesTarget}"></span></span><br>-->
<!--<span>The total for clothing for the month is $<span th:text="${totalExpensesClothing}"></span></span><br>-->
<!--<span>The total for pets for the month is $<span th:text="${totalExpensesPets}"></span></span>-->

<table>
    <tr>
        <th>CATEGORY</th>
        <th>TOTAL AMOUNT</th>
        <th>BUDGETED AMOUNT</th>
        <th>DIFFERENCE</th>
    </tr>

    <tr>
        <td>MORTGAGE/RENT</td>
        <td><span>$<span th:text="${totalExpensesMortgageRent}" id="test1"></span></span></td>
        <td id="test2">800</td>
        <td id="test3"></td>
    </tr>
    <tr>
        <td>MONTHLY BILLS</td>
        <td><span>$<span th:text="${totalExpensesMonthlyBills}"></span></span></td>
        <td>338</td>
        <td>+60</td>
    </tr>
    <tr>
        <td>EATING OUT</td>
        <td><span>$<span th:text="${totalExpensesEatingOut}"></span></span></td>
        <td>85</td>
        <td>-40</td>
    </tr>
    <tr>
        <td>GROCERIES/TARGET</td>
        <td><span>$<span th:text="${totalExpensesGroceriesTarget}"></span></span></td>
        <td>100</td>
        <td>100</td>
    </tr>
    <tr>
        <td>MEDICAL</td>
        <td><span>$<span th:text="${totalExpensesMedical}"></span></span></td>
        <td>100</td>
        <td>100</td>
    </tr>
    <tr>
        <td>PETS</td>
        <td><span>$<span th:text="${totalExpensesPets}"></span></span></td>
        <td>100</td>
        <td>100</td>
    </tr>
    <tr>
        <td>ENTERTAINMENT</td>
        <td><span>$<span th:text="${totalExpensesEntertainment}"></span></span></td>
        <td>100</td>
        <td>100</td>
    </tr>
    <tr>
        <td>TRAVEL</td>
        <td><span>$<span th:text="${totalExpensesTravel}"></span></span></td>
        <td>100</td>
        <td>100</td>
    </tr>
    <tr>
        <td>AMAZON</td>
        <td><span>$<span th:text="${totalExpensesAmazon}"></span></span></td>
        <td>100</td>
        <td>100</td>
    </tr>
    <tr>
        <td>GIFTS</td>
        <td><span>$<span th:text="${totalExpensesGifts}"></span></span></td>
        <td>100</td>
        <td>100</td>
    </tr>
    <tr>
        <td>CLOTHING</td>
        <td><span>$<span th:text="${totalExpensesClothing}"></span></span></td>
        <td>100</td>
        <td>100</td>
    </tr>

</table>

    <script>

        function myFunction () {


        tast1 = document.getElementById(test1);
        tust1 = Number(tast1);
        tast2 = document.getElementById(test2);
        tust2 = Number(tast2);
        tust3 = tust2 - tust1;
        document.getElementById("test3").innerHTML = tust3;
        console.log(test1);
        console.log(tast1);
        console.log(tust1);
        console.log(test2);
        console.log(tast2);
        console.log(tust2);
        console.log(tust3);
        console.log(typeof test1);
        console.log(typeof test2);



        }

    </script>


    <script>
        var deleteButtons = document.getElementById("delete_button");

        for (var x=0; x < deleteButtons.length; x++) {
            deleteButtons[x].addEventListener("click", function(event) {
                var sure = confirm("Did you actually do that?");
                if (!sure) {
                    event.preventDefault();
                }
            });
        }

        delete_button.addEventListener("click", function(event){
            var sure = confirm("Delete all entries?");
            if (!sure) {
                event.preventDefault();   // don't actually click the button or send a request to the server.
            }
        });
    </script>




</body>
</html>