<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--Milligram stylesheet-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Temporarily Sample Category Table</h1>

<button onclick="myFunction()">Try it</button>

<span>The total for Target for the month is $<span th:text="${totalExpensesTarget}"></span></span><br>
<span>The total for clothing for the month is $<span th:text="${totalExpensesClothing}"></span></span><br>
<span>The total for pets for the month is $<span th:text="${totalExpensesPets}"></span></span>

<table>
    <tr>
        <th>CATEGORY</th>
        <th>TOTAL AMOUNT</th>
        <th>BUDGETED AMOUNT</th>
        <th>DIFFERENCE</th>
    </tr>

    <tr>
        <td>TARGET</td>
        <td><span>$<span th:text="${totalExpensesTarget}" id="test1"></span></span></td>
        <td id="test2">800</td>
        <td id="test3"></td>
    </tr>
    <tr>
        <td>CLOTHING</td>
        <td><span>$<span th:text="${totalExpensesClothing}"></span></span></td>
        <td>338</td>
        <td>+60</td>
    </tr>
    <tr>
        <td>EATING OUT</td>
        <td>125</td>
        <td>85</td>
        <td>-40</td>
    </tr>
    <tr>
        <td>PETS</td>
        <td>0</td>
        <td>100</td>
        <td>100</td>
    </tr>


    <!--<tr th:each="task : ${tasks}">-->
    <!--<td th:text="${task.dayt}"></td>-->
    <!--<td th:text="${task.amount}"></td>-->
    <!--<td th:text="${task.description}"></td>-->
    <!--<td th:text="${task.category}"></td>-->

    <!--</tr>-->

    <script>

        function myFunction () {


        tast1 = document.getElementById(test1);
        tust1 = Number(tast1)
        tast2 = document.getElementById(test2);
        tust2 = Number(tast2)
        tust3 = tust2 - tust1;
        document.getElementById("test3").innerHTML = tust3;
        console.log(test1);
        console.log(tast1);
        console.log(tust1);
        console.log(test2);
        console.log(tast2);
        console.log(tust2);
        console.log(tust3);
        console.log(typeof test1);
        console.log(typeof test2);



        }

    </script>

</table>

<a href="/">Add a new expense</a><br>
<a href="/allExpenses">All Expenses</a><br>

</body>
</html>