<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Expenses</title>
</head>
<body>

</body>
</html><html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Milligram stylesheet -->
    <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">-->
    <!--<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">-->
    <!--<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">-->



    <title>Monthly Spending</title>
</head>
<body>
<h1>Enter a new spending event</h1>

<!--This is doing a POST to the /addTask page.  It is inserting the current task object-->
<form action="#" method="POST" th:action="@{/addExpense}" th:object="${expense}">
    <input type = "date" placeholder="date" th:field="*{dayt}" />
    <br><br>
    <input type = "text" value="0" placeholder="0" th:field="*{amount}" />
    <!--<input type = "text" id="amount" name="amount" placeholder="amount" th:value="*{amount}";-->
    <br><br>
    <input type = "text" placeholder="description" th:field="*{description}" />
    <br><br>

    <select name = "category" th:field="*{category}">

        <!--Couldn't get the disabled selected "Select Category" value working properly.  It keeps defaulting to the first select item-->
        <option value="" disabled selected>Select Category</option>
        <option value="Mortgage/Rent">Mortgage/Rent</option>
        <option value="Monthly Bills">Monthly Bills</option>
        <option value="Eating Out">Eating Out</option>
        <option value="Groceries/Target">Groceries/Target</option>
        <option value="Medical">Medical</option>
        <option value="Pets">Pets</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Travel">Travel</option>
        <option value="Amazon">Amazon</option>
        <option value="Gifts">Gifts</option>
        <option value="Clothing">Clothing</option>
    </select>
    <br><br>

    <br>
    <button id = "add-expense">Add Expense</button>

</form>

<a href="/allExpenses">All Expenses</a>
</body>










</html>